* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b0b1b5;
}
.page {
  background-color: white;
  height: 1000px;
  margin: 50px auto 50px auto;
  width: 80%;
  border: solid black 1px;
}
header img {
  display: flex;
  margin: 20px auto 0px auto;
  width: 40%;
}
.menu {
  display: flex;
  margin: 5px auto 0px auto;
  width: 30%;
  justify-content: space-around;
  list-style: none;
  font-size: 21px;
  font-family: "Impact", fantasy;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: white; 
  text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,  
    -1px 1px 0 black,  
    1px 1px 0 black;
}